body {
	-webkit-transition: background-color 600ms linear;
	-moz-transition: background-color 600ms linear;
	color: #fff;
	font-family: helvetica, sans serif;
}

a {
	color: #FF8C00;
}

a:visited {
	color: #FF8C00;
}

#container {
	width: 640px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	margin-top: 10%;
}

.text {
	margin-top: 20px;	
}

.text h2 {
	color: #f90;
}

#intro, #outro {
	-webkit-transition: opacity 600ms linear;
	-moz-transition: opacity 600ms linear;
	position: absolute;
	top: 360px;
	width: 640px;
}

#intro {
	z-index: 2;
}

#outro {
	z-index: 1;
}

.hide {
	opacity: 0;
}

.show {
	opacity: 1;
}

.darken {
	background-color: #191919;
}

.lighten {
	background-color: #282828;
}